<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li ng-class="{active: gSideCtrl.design}">
      <a href="graphic_design.html">Graphic Design</a>
    </li>
    <li ng-class="{active: gSideCtrl.siti}">
      <a href="siti.html">Realizzazione Siti</a>
    </li>
    <li ng-class="{active: gSideCtrl.mobile}">
      <a href="sito_mobile.html">Siti Mobile e Responsive</a>
    </li>
    <li ng-class="{active: gSideCtrl.cms}">
      <a href="cms.html">CMS</a>
    </li>
    <li ng-class="{active: gSideCtrl.commerce}">
      <a href="commerce.html">E-Commerce</a>
    </li>
    <li ng-class="{active: gSideCtrl.seo}">
      <a href="seo.html">Posizionamento Siti - SEO</a>
    </li>
    <li ng-class="{active: gSideCtrl.sem}">
      <a href="sem.html">Google Adwords - SEM</a>
    </li>
    <li ng-class="{active: gSideCtrl.social}">
      <a href="social_media.html">Social Media Marketing</a>
    </li>
    <li ng-class="{active: gSideCtrl.fiere}">
      <a href=fiere.html>Fiere ed Eventi</a>
    </li>
    <li ng-class="{active: gSideCtrl.punti}">
      <a href="punti_vendita.html">Punti Vendita - SHOWROOM</a>
    </li>
  </ul>
</div>
