<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li ng-class="{active: gSideCtrl.design}">
      <a href="graphic_design.html">Graphic Design</a>
    </li>
    <li ng-class="{active: gSideCtrl.siti}">
      <a href="siti.html">Realizzazione Siti</a>
    </li>
    <li ng-class="{active: gSideCtrl.mobile}">
      <a href="sito_mobile.html">Siti Mobile e Responsive</a>
    </li>
    <li ng-class="{active: gSideCtrl.cms}">
      <a href="cms.html">CMS</a>
    </li>
    <li ng-class="{active: gSideCtrl.commerce}">
      <a href="commerce.html">E-Commerce</a>
    </li>
    <li>
      <a href="#">Posizionamento Siti - SEO</a>
    </li>
    <li>
      <a href="#">Google Adwords - SEM</a>
    </li>
    <li>
      <a href="#">Social Media Marketing</a>
    </li>
    <li>
      <a href=#>Fiere ed Eventi</a>
    </li>
    <li>
      <a href="#">Punti Vendita - SHOWROOM</a>
    </li>
  </ul>
</div>
