<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-pills nav-stacked">
    <li ng-class="{active: oSideCtrl.saas}">
      <a href="saas.html">Software SaaS</a>
    </li>
    <li ng-class="{active: oSideCtrl.personalizzato}">
      <a href="personalizzato.html">Software Personalizzato</a>
    </li>
    <li ng-class="{active: oSideCtrl.hardware}">
      <a href="hardware.html">Hw - Sw - Periferiche e Accessori</a>
    </li>
    <li ng-class="{active: oSideCtrl.networking}">
      <a href="networking.html">Networking</a>
    </li>
    <li ng-class="{active: oSideCtrl.locazione}">
      <a href="locazione.html">Locazione Operativa IT</a>
    </li>
    <li ng-class="{active: oSideCtrl.interpretariato}">
      <a href="interpretariato.html">Interpretariato</a>
    </li>
    <li ng-class="{active: oSideCtrl.traduzioni}">
      <a href="traduzioni.html">Traduzioni</a>
    </li>
    <li ng-class="{active: oSideCtrl.fidelizzazione}">
      <a href="fidelizzazione.html">Sistema di fidelizzazione Clienti</a>
    </li>
    <li ng-class="{active: oSideCtrl.estetici}">
      <a href="estetici.html">Software centri estetici</a>
    </li>
  </ul>
</div>
