<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-pills nav-stacked">
    <li>
      <a href="#">Software SaaS</a>
    </li>
    <li>
      <a href="#">Software Personalizzato</a>
    </li>
    <li>
      <a href="#">Hw - Sw - Periferiche e Accessori</a>
    </li>
    <li>
      <a href="#">Networking</a>
    </li>
    <li>
      <a href="#">Locazione Operativa IT</a>
    </li>
    <li>
      <a href="#">Interpretariato</a>
    </li>
    <li>
      <a href="#">Traduzioni</a>
    </li>
    <li>
      <a href="#">Sistema di fidelizzazione Clienti</a>
    </li>
    <li>
      <a href="#">Software centri estetici</a>
    </li>
  </ul>
</div>
