@import 'base.less';

body {
  padding-top: 50px;
  margin-bottom: 60px;
}
.starter-template {
  padding: 40px 15px;
  //text-align: center;
}

a:hover {
  text-decoration: none;
}

#welcome {
  height: 300px;
  background-color: #191919;
  color: #fff;
  position: relative;
  .welcome-message {
    background-color: hsla(0,0,1%,0.4);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px 40px;
    strong {
      font-size: 1.5em;
      text-transform: uppercase;
    }
  }
  .btn {
    margin-top: 16px;
  }

  @media (max-width: @screen-sm-max) {
    background: #191919 url('../img/intro_bg_sm.jpg') center center no-repeat;
    .welcome-message {
      .img-responsive {
        max-width: 38%;
      }
    }
  }

  @media (min-width: @screen-sm-min) {
    height: 480px;
    .container {
      position: relative;
    }
    .welcome-message {
      right: 20%;
      bottom: auto;
      strong {
        display: block;
      }
      .img-responsive {
        max-width: 70%;
      }
    }
  }

  @media (min-width: @screen-md-min) {
    height: 540px;
    background: #191919 url('../img/intro_bg_lg.jpg') center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .welcome-message {
      right: 50%;
    }
  }
}

.navbar .nav {
  font-family: @font-family-serif;
}

.navbar-brand {
  float: left;
  padding: 12px 30px 0 15px;
  &:hover,
  &:focus {
    text-decoration: none;
  }
  @media (min-width: @grid-float-breakpoint) {
    .navbar > .container & {
      margin-left: -@navbar-padding-horizontal;
    }
  }
}

@media(min-width: @grid-float-breakpoint) {

  #bar-logo {
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
  }

  .navbar {
    //padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    -webkit-transition: background .5s ease-in-out;
    -moz-transition: background .5s ease-in-out;
    transition: background .5s ease-in-out;
  }
}

.vertical-align {
  display: flex;
  align-items: center;
}

#footer {
  background: @col_logo_blue;
  color: white;

  a:link {
    color: @col_magenta;
  }

  a:visited {
    color: @col_dark_magenta;
  }

  a:hover {
    color: @col_dark_magenta;
  }
}

.ng-invalid.ng-dirty {
  border-color: #FA787E;
}

.ng-valid.ng-dirty {
  border-color: #78FA89;
}

.pull-right {
  float: left !important;
}
