@col_magenta: #e31565;

@col_dark_magenta: #a91955;

@navbar-inverse-bg: @col_magenta;

@navbar-iverse-link-active-bg: @col_dark_magenta;

@navbar-inverse-link-active-color: white;

@navbar-inverse-border: darken(@col_magenta, 10%);

@navbar-inverse-link-color: white;

@navbar-inverse-link-hover-color: lighten(@gray-light, 15%);

@navbar-inverse-link-hover-bg: @col_dark_magenta;

@navbar-inverse-toggle-hover-bg: @col_dark_magenta;

@navbar-inverse-toggle-border-color: @col_dark_magenta;

// Customizzazione navbar

@navbar-height: 56px;

@navbar-margin-bottom: 0;

@navbar-default-link-color:       @navbar-default-color;
@navbar-default-link-hover-color: #fff;
@navbar-default-link-hover-bg:    @gray;
@navbar-default-link-active-color: #fff;
@navbar-default-link-active-bg:  @gray-dark;

@navbar-default-toggle-hover-bg:    transparent;
@navbar-default-toggle-icon-bar-bg: @gray-lighter;
@navbar-default-toggle-border-color: transparent;

@border-radius-base:             0; // was 4px
@border-radius-large:            0; // was 6px
@border-radius-small:            0; // was 3px
